@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  // background-color: rgb(197 157 129);
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;

  background-color: rgb(223, 214, 203);
}

.footer {
  background-color:rgb(148, 78, 28);
  color: #fff;
  text-align: center;
  padding: 1rem;
}
